footer-player {
    .avatar {
        margin-top: 1px;
        max-width: 40px;
        max-height: 40px;
        border-radius: 100px;
    }

    audio-track-play {
        button {
            i.fa {
                font-size: 30px;
            }
        }
    }
}
