<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row *ngIf="!loadedPlaylists" align-items-center>
    <ion-col text-center>
      <br>
      <ion-spinner color="spotifyPrimary"></ion-spinner>
    </ion-col>
  </ion-row>

  <div *ngIf="loadedPlaylists">
    <div *ngFor="let playlistGroup of playlistGroups">
      <div class="item-title">{{playlistGroup.name}}</div>

      <ion-row>
        <ion-item no-lines>
          <ion-scroll scrollX="true" scroll-avatar>
            <ion-col *ngFor="let playlist of playlistGroup.playlists" class="scroll-item" (click)="goToPlaylist(playlist)">
              <img src="{{ playlist.picture }}" />
              <div>{{ playlist.name }}</div>
            </ion-col>
          </ion-scroll>
        </ion-item>
      </ion-row>
    </div>
  </div>
</ion-content>

<ion-footer>
  <footer-player></footer-player>
</ion-footer>